version: "3"
services: 
  baidunetdisk:
    image: johngong/baidunetdisk:latest
    ports:
      - 5800:5800
    volumes:
      - /home/baidunetdisk:/config
      - /downloads:/downloads
      - /media/video:/media/video
    restart: unless-stopped
