version: "3"
services: 
  baidunetdisk:
    image: emuqi/baidunetdisk-arm64-vnc:latest
    ports:
      - 5800:5800
      - 5900:5900
    volumes:
      - /home/baidunetdisk:/config
      - /downloads:/downloads
      - /media/video:/media/video
    environment: 
      - PUID=0
      - PGID=0
      - VNC_PASSWORD=BPG878
      - NOVNC_LANGUAGE="zh_Hans"
    restart: unless-stopped
